{% extends 'Layout/Showcase/base.html.twig' %}

{% block sub_title %}
    {% trans from 'title' %}
        user.profile
    {% endtrans %}
{% endblock sub_title %}

{% block body %}
{{ form_start(form, {'attr': {'class': 'space-y-8 divide-y divide-gray-200'}}) }}
  <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
    <div>
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          {% trans from 'message' %}user.profile.title{% endtrans %}
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          {% trans from 'message' %}user.profile.sub_text{% endtrans %}
        </p>
      </div>
      <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          {{ form_label(form.username, 'user.profile.username'|trans({}, 'label'), {'label_attr': {'class': 'block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2'}}) }}
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg flex rounded-md shadow-sm">
              {{ form_widget(form.username, {'attr': {'class': 'flex-1 block w-full focus:ring-indigo-500 focus:border-indigo-500 min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300'}}) }}
            </div>
          </div>
        </div>
      </div>
      

      <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          {{ form_label(form.firstName, 'user.profile.first_name'|trans({}, 'label'), {'label_attr': {'class': 'block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2'}}) }}
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg flex rounded-md shadow-sm">
              {{ form_widget(form.firstName, {'attr': {'class': 'flex-1 block w-full focus:ring-indigo-500 focus:border-indigo-500 min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300'}}) }}
            </div>
          </div>
        </div>
      </div>
      
      <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          {{ form_label(form.lastName, 'user.profile.last_name'|trans({}, 'label'), {'label_attr': {'class': 'block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2'}}) }}
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg flex rounded-md shadow-sm">
              {{ form_widget(form.lastName, {'attr': {'class': 'flex-1 block w-full focus:ring-indigo-500 focus:border-indigo-500 min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300'}}) }}
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <div class="pt-5">
    <div class="flex justify-end">
      <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Sauvegarder
      </button>
    </div>
  </div>
{{ form_end(form) }}
{% endblock %}