{% extends 'Layout/Showcase/base.html.twig' %}

{% block sub_title %}
    {{ message.subject }}
{% endblock sub_title %}

{% block body %}

    {% embed 'Widget/Card/flat.html.twig' %}
        {% block body %}
            <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
                <div>
                    <div>
                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                            {{ message.subject }} 
                        </h3>
                        <p class="mt-1 max-w-2xl text-sm text-gray-500">
                            {{ message.firstName }} {{ message.lastName }} : {{ message.creationDate|date('date-format'|trans({}, 'setting')) }}   
                        </p>
                    </div>

                    <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
                        <div>
                            {{ message.content }}
                        </div>
                    </div>
                </div>
                <div class="pt-5">
                    <div class="flex justify-end">
                        <a href="mailto:{{ message.email }}?subject={{ message.subject }}" target="_blank" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Répondre
                        </a>
                    </div>
                </div>
            </div>
        {% endblock body %}
    {% endembed %}

{% endblock body %}